
os
pickle
json
string
Tqdm
numpy
pandas
wordcloud
Pillow
matplotlib.pyplot
seaborn
pyplot
-U kaleido
nltk
gensim
pyLDAvis
bertopic
Datetime
requests
Wikidata
langdetect
names-dataset
empath
vaderSentiment
scikit-posthocs
-U scikit-learn
NRCLex
scipy
statsmodels
